{% extends 'django_template_landrick/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 mt-4 pt-2 order-1 order-md-2">
                <img src="{% static 'global_assets/images/integration/hero.webp' %}" class="img-fluid rounded-md" alt="">
            </div><!--end col-->
            <div class="col-lg-7 col-md-6 mt-4 pt-2 order-2 order-md-1">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">{{ product_configuration_management_01_header }}</h4>
                    <p class="text-muted">{{ product_configuration_management_01_content|safe }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-100 mt-60">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 mt-4 pt-2">
                <img src="{% static 'global_assets/images/task/laptop.webp' %}" class="img-fluid rounded-md" alt="">
            </div><!--end col-->
            <div class="col-lg-7 col-md-6 mt-4 pt-2">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">{{ product_configuration_management_02_header }}</h4>
                    <p class="text-muted">{{ product_configuration_management_02_content|safe }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-100 mt-60">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 mt-4 pt-2 order-1 order-md-2">
                <img src="{% static 'global_assets/images/digital/seo.webp' %}" class="img-fluid rounded-md" alt="">
            </div><!--end col-->
            <div class="col-lg-7 col-md-6 mt-4 pt-2 order-2 order-md-1">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">{{ product_configuration_management_03_header }}</h4>
                    <p class="text-muted">{{ product_configuration_management_03_content|safe }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title mb-4">{{ product_configuration_management_msp_topics_header }}</h4>
                    <p class="text-muted para-desc mx-auto mb-0">{{ product_configuration_management_msp_topics_descr|safe }}</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="collapse" id="msp_topics_collapse" aria-expanded="false">
            <div class="row">
                {% for msp_topic in msp_topics %}
                    <div class="col-lg-3 col-md-6 mt-4 pt-2">
                        <div class="d-flex key-feature align-items-center p-3 rounded-pill shadow">
                            <div class="icon text-center rounded-circle me-3">
                                <i data-feather="target" class="fea icon-ex-md text-primary"></i>
                            </div>
                            <div class="flex-1">
                                <h4 class="title mb-0">{{ msp_topic.short_name }}</h4>
                            </div>
                        </div>
                    </div><!--end col-->
                {% endfor %}
            </div><!--end row-->
        </div>
        <br>
        <div class="row align-middle">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#msp_topics_collapse" role="button"
               aria-expanded="false" aria-controls="msp_topics_collapse">{% trans "show more / less" %}</a>
        </div>
    </div>
    <div class="container mt-100 mt-60">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 mt-4 pt-2">
                <img src="{% static 'global_assets/images/personal/5.webp' %}" class="img-fluid rounded-md" alt="">
            </div><!--end col-->
            <div class="col-lg-7 col-md-6 mt-4 pt-2">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">{{ product_configuration_management_04_header }}</h4>
                    <p class="text-muted">{{ product_configuration_management_04_content|safe }}</p>
                </div>
            </div>
        </div>
    </div>
    {% include 'django_template_landrick/seg_contact_more_info.html' %}
    {% include 'django_template_landrick/seg_faq.html' %}
{% endblock %}
